.nav {
  background-color: #d80f0f;
  border-bottom: 5px solid #fff;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.title {
  color: #fff;
  display: inline-block;
  left: calc((100% - 137.391px) / 2);
  font-family: "Roboto";
  font-size: 24px;
  position: relative;
  text-align: center;
  top: calc((100% - 28px) / 2);
}

.space {
  display: block;
  height: 125px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  margin: 0;
  padding: 0;
}
