.flexItem {
  border: 1px solid #000;
  flex: 1 0 0;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  height: auto;
  padding: calc(10% / 3) 0;
}

.borderTopSquare {
  border-top: 4px solid #000;
}

.borderRightSquare {
  border-right: 4px solid #000;
}

.hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.open {
  color: rgba(0, 0, 0, 0);
}

.initial {
  background-color: rgba(0, 0, 0, 0.3);
}
